body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:583px;
  width:72px;
  height:56px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:56px;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:72px;
  top:583px;
  width:72px;
  height:56px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:56px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:144px;
  top:583px;
  width:72px;
  height:56px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:56px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:216px;
  top:583px;
  width:72px;
  height:56px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:56px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:288px;
  top:583px;
  width:72px;
  height:56px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:56px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:20px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:563px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:563px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:650px;
  overflow:hidden;
  touch-action:none;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:650px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:85px;
  width:360px;
  height:40px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u19 {
  position:absolute;
  left:0px;
  top:11px;
  width:360px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:125px;
  width:90px;
  height:88px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:88px;
}
#u21 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:90px;
  top:125px;
  width:90px;
  height:88px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:88px;
}
#u23 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:180px;
  top:125px;
  width:90px;
  height:88px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:88px;
}
#u25 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:270px;
  top:125px;
  width:90px;
  height:88px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:88px;
}
#u27 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:212px;
  width:360px;
  height:99px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:99px;
}
#u29 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:270px;
  top:99px;
  width:71px;
  height:15px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:311px;
  width:360px;
  height:336px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:336px;
}
#u33 {
  position:absolute;
  left:2px;
  top:160px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u1.a {
}
#u3.a {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:639px;
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:563px;
}
#u15.a {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:650px;
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u15_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u14_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
